<div class="recover-password-container">
  <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
    <div class="icon">
      <i class="bi bi-person-circle fs-1"></i>
    </div>

    <h2>Recover Password</h2>

    <label for="email">Email</label>
    <div class="input-icon-wrapper">
      <input id="email" formControlName="email" type="email" placeholder="Email">
      <i class="bi bi-envelope fs-3"></i>
    </div>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button type="submit" [disabled]="recoverPasswordForm.invalid">Recover Password</button>
  </form>
</div>
