/* Estilos adicionales para centrar el contenedor */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh; /* Ajustar la altura mínima para centrar verticalmente */
  margin-top: 7rem; /* Añadir margen superior para separar del navbar */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para la tabla responsiva */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

/* Estilos para mensajes de error */
.error {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

.user-dropdown li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.user-dropdown li a:hover {
  background-color: #f1f1f1;
}

/* Estilos adicionales para centrar el contenedor */
.drag-and-drop {
  border: 2px dashed #ccc;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
  margin-top: 2rem; /* Añadir margen superior para separar del navbar */
}

.drag-and-drop:hover {
  border-color: #333;
}