html, body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: 10px auto; /* Ajusta el margen superior para controlar la altura */
    border: 1px solid #4ad76b;
    padding: 300px;
    border-radius: 5px;
    
}

h1 {
    color: #333;
}

input[type="file"] {
    margin: 10px 0;
}
