<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="icon">
      <i class="bi bi-person-circle fs-1"></i>
    </div>

    <h2>Login</h2>

    <label for="email">Email</label>
    <div class="input-icon-wrapper">
      <input id="email" formControlName="email" type="email" placeholder="Email">
      <i class="bi bi-envelope fs-3"></i>
    </div>

    <label for="password">Password</label>
    <div class="input-icon-wrapper">
      <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password">
      <i class="bi bi-lock fs-3"></i>
      <button type="button" class="toggle-password" (click)="toggleShowPassword()">
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"></i>
      </button>
    </div>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div class="button-group">
      <button type="submit">Login</button>
      <button type="button" (click)="goToRegister()">Register</button>
    </div>
    <button type="button" (click)="goToRecoverPassword()">Forgot Password?</button>
  </form>
</div>
