
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
.login-container {
  width: 350px;
  margin: 0 auto;
  padding: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  }
  .icon {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 2em;
  }
  .input-icon {
    margin-right: 0.5em; /* Espacio entre el ícono y el campo de entrada */
    color: #007bff; /* Color del ícono */
    font-size: 1.2em; /* Tamaño del ícono */
  }
  .input-icon-wrapper input {
    padding-right: 2em; /* Espacio para el icono */
    margin-bottom: 1.5em; /* Espacio entre los cuadros */
    height: 50px; /* Altura del cuadro de entrada */
    border-radius: 4px; /* Esquinas redondeadas */
    border: 1px solid #ccc; /* Bordes del cuadro */
    font-size: 1em; /* Tamaño de fuente */
  }
  .input-icon-wrapper .bi {
    position: relative;
    display: flex;
    align-items: center; 
  }
  .toggle-password:hover {
    background-color: #0056b3;
  }
  button {
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875em; /* Tamaño de fuente más pequeño */
  }
  button:hover {
    background-color: #0056b3;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .button-group button {
    width: 48%;
    padding: 0.3em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875em; /* Tamaño de fuente más pequeño */
  }
  .button-group button:hover {
    background-color: #0056b3;
  }
