
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.login-container {
    background-color: #f9f9f9;
    width: 350px;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .icon {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }
  .input-icon-wrapper input {
    padding-right: 2em; /* Espacio para el icono */
  }
  .input-icon-wrapper .bi {
    position: relative;
  }
  .toggle-password:hover {
    background-color: #0056b3;
  }
  button {
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875em; /* Tamaño de fuente más pequeño */
  }
  button:hover {
    background-color: #0056b3;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .button-group button {
    width: 48%;
    padding: 0.3em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875em; /* Tamaño de fuente más pequeño */
  }
  .button-group button:hover {
    background-color: #0056b3;
  }