.exam-generator {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
  }
  
  ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
  }
  
  strong {
    font-size: 16px;
  }
  
  h3 {
    margin-top: 20px;
  }
  